* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Tahoma, Calibri, sans-serif;
}

:root {
    --sublight-color: #F3F4F4;
    --light-color: #8C9595;
    --main-color: #77838B;
    --dark-color: #6C6B79;
    --strong-color: #4B0C28;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--light-color);
    z-index: -3;
}

.head {
    align-items: center;
}

.imgBackground {
    width: 100%;
    height: 150px;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    opacity: 0.7;

}

.name {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: 50px;
    width:30%;
    align-items: center;
    background-color: var(--sublight-color);
    border: 5px solid var(--strong-color);
    border-radius: 8px;
    color: var(--dark-color);
    display: flex;
    font-size: 22px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
/*    max-width: 100%;*/
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
}

.photo {
    position: absolute; 
    right: 40px; 
    top: 20px;
    width:300px;
    height:300px;
    border: 5px solid var(--sublight-color);
    border-radius: 50%;
    object-fit: cover;
    background-image: url("./source/photo.jpg");
    background-color: var(--main-color);
}

button {
    align-items: center;
    background-color: var(--main-color);
    border: 2px solid var(--strong-color);
    border-radius: 8px;
    color: var(--sublight-color);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 32px;
    justify-content: center;
    line-height: 24px;
/*    max-width: 100%;*/
    width:200px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    background-color: var(--strong-color);
    border-radius: 8px;
    content: "";
    display: block;
    height: 32px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

button:hover:after {
    transform: translate(0, 0);
}

button:active {
    background-color: var(--sublight-color);
    outline: 0;
    }

button:hover {
    outline: 0;
}

@media (max-width: 600px) {
    button {
        padding: 0 40px;
    }

}

.corner {
    background-image: radial-gradient(
    farthest-corner at 0px 0px,
    var(--strong-color) 0%,
    var(--sublight-color) 100%
    );
    width: 200px;
    height: 200px;
    border: none;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100%  0;
    animation: insertCorner;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.82,.21,.92,.58);
}

@keyframes insertCorner {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 100px;
        height: 100px;
    }
    100%{
        width: 200px;
        height: 200px;
    }

}

.menu1 {
    position: absolute;
    top: 30px;
    left: 110px;
    animation: animMenu1;
    animation-duration: 3.2s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu1 {
    0%{
        top: -40px;
        left: 140px;
    }
    84%{
        top: -40px;
        left: 140px;
    }
    87%{
        top: -28px;
        left: 135px;
    }
    90%{
        top: -16px;
        left: 130px;
    }
    93%{
        top: -4px;
        left: 125px;
    }
    95%{
        top: 8px;
        left: 120px;
    }
    98%{
        top: 20px;
        left: 115px;
    }
    100%{
        top: 30px;
        left: 110px;
    }
}

.menu2 {
    position: absolute;
    top: 75px;
    left: 70px;
    animation: animMenu2;
    animation-duration: 2.7s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu2 {
    0%{
        top: -40px;
        left: 110px;
    }
    74%{
        top: -40px;
        left: 110px;
    }
    77%{
        top: 3px;
        left: 102px;
    }
    80%{
        top: 12px;
        left: 98px;
    }
    83%{
        top: 21px;
        left: 94px;
    }
    86%{
        top: 30px;
        left: 90px;
    }
    89%{
        top: 39px;
        left: 86px;
    }
    92%{
        top: 48px;
        left: 82px;
    }
    95%{
        top: 57px;
        left: 78px;
    }
    97%{
        top: 66px;
        left: 74px;
    }
    100%{
        top: 75px;
        left: 70px;
    }
}
.menu3 {
    position: absolute;
    top: 120px;
    left: 30px;
    animation: animMenu3;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu3 {
    0%{
        top: -40px;
        left: 110px;
    }
    50%{
        top: -40px;
        left: 110px;
    }
    60%{
        top: 25px;
        left: 86px;
    }
    70%{
        top: 51px;
        left: 70px;
    }
    80%{
        top: 77px;
        left: 56px;
    }
    90%{
        top: 104px;
        left: 40px;
    }
    100%{
        top: 120px;
        left: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: var(--dark-color);
    }
    .corner{
        width: 150px;
        height: 150px;
    }
    button{
        font-size: 11pt;
        width: 150px;
        padding: 0px;
    }
}