* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Tahoma, Calibri, sans-serif;
    font-size: 16pt;
}

:root {
    --sublight-color: #F3F4F4;
    --light-color: #8C9595;
    --main-color: #77838B;
    --dark-color: #6C6B79;
    --strong-color: #4B0C28;
}

.container {
    position: absolute;
    width: 100%;
    height: 200em;
    background-color: var(--light-color);
    z-index: -3;
}

.head {
    align-items: center;
}

.imgBackground {
    width: 100%;
    height: 8em;
    object-fit: cover;
    position: absolute;
    z-index: -2;
    opacity: 0.7;

}

.name {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 1em;
    width:12em;
    align-items: center;
    background-color: var(--sublight-color);
    border: .15em solid var(--strong-color);
    border-radius: 0.3em;
    color: var(--dark-color);
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    height: 1.8em;
    justify-content: center;
    line-height: 0.9em;
    padding: 0 0.75em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
}

.photo {
    position: absolute;
    right: 1.2em;
    top: 0.6em;
    width: 9em;
    height: 9em;
    border: 0.15em solid var(--strong-color);
    border-radius: 50%;
    object-fit: cover;
    background-image: url("./source/photo.jpg");
    background-color: var(--main-color);
}

button {
    align-items: center;
    background-color: var(--main-color);
    border: 0.16em solid var(--strong-color);
    border-radius: 0.5em;
    color: var(--sublight-color);
    cursor: pointer;
    display: flex;
    font-size: 0.75em;
    height: 2.1em;
    justify-content: center;
    line-height: 0.75em;
/*    max-width: 100%;*/
    width:9em;
    padding: 0 0.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    background-color: var(--strong-color);
    border-radius: 0.5em;
    content: "";
    display: block;
    height: 2.1em;
    left: 0;
    width: 100%;
    position: absolute;
    top: -0.16em;
    transform: translate(0.5em, 0.5em);
    transition: transform .2s ease-out;
    z-index: -2;
}

button:hover:after {
    transform: translate(0, 0);
}

button:active {
    background-color: var(--sublight-color);
    outline: 0;
    }

button:hover {
    outline: 0;
}

@media (max-width: 600px) {
    button {
        padding: 0 40px;
    }

}

.corner {
    background-image: radial-gradient(
    farthest-corner at 0px 0px,
    var(--strong-color) 0%,
    var(--sublight-color) 100%
    );
    width: 9em;
    height: 9em;
    border: none;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 0 100%  0;
    animation: insertCorner;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(.82,.21,.92,.58);
}

@keyframes insertCorner {
    0%{
        width: 0px;
        height: 0px;
    }
    50%{
        width: 4.5em;
        height: 4.5em;
    }
    100%{
        width: 9em;
        height: 9em;
    }

}

#menu1-1 {
    position: absolute;
    top: 1.85em;
    left: 6.8em;
    animation: animMenu1;
    animation-duration: 3.2s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu1 {
    0%{
        top: -2.5em;
        left: 8.7em;
    }
    84%{
        top: -2.5em;
        left: 8.7em;
    }
    87%{
        top: -1.7em;
        left: 8.4em;
    }
    90%{
        top: -1em;
        left: 8em;
    }
    93%{
        top: -0.3em;
        left: 7.8em;
    }
    95%{
        top: 0.5em;
        left: 7.5em;
    }
    98%{
        top: 1.2em;
        left: 7.1em;
    }
    100%{
        top: 1.85em;
        left: 6.8em;
    }
}

#menu1-2 {
    position: absolute;
    top: 4.7em;
    left: 4.4em;
    animation: animMenu2;
    animation-duration: 2.7s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu2 {
    0%{
        top: -2.5em;
        left: 6.9em;
    }
    74%{
        top: -2.5em;
        left: 6.9em;
    }
    77%{
        top: 0.2em;
        left: 6.4em;
    }
    80%{
        top: 0.75em;
        left: 6.12em;
    }
    83%{
        top: 1.32em;
        left: 5.9em;
    }
    86%{
        top: 1.875em;
        left: 5.625em;
    }
    89%{
        top: 2.43em;
        left: 5.37em;
    }
    92%{
        top: 3em;
        left: 5.125em;
    }
    95%{
        top: 3.56em;
        left: 4.87em;
    }
    97%{
        top: 4.1em;
        left: 4.625em;
    }
    100%{
        top: 4.7em;
        left: 4.4em;
    }
}
#menu1-3 {
    position: absolute;
    top: 7.5em;
    left: 1.875em;
    animation: animMenu3;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function:linear;
}

@keyframes animMenu3 {
    0%{
        top: -2.5em;
        left: 6.9em;
    }
    50%{
        top: -2.5em;
        left: 6.9em;
    }
    60%{
        top: 1.56em;
        left: 5.37em;
    }
    70%{
        top: 3.19em;
        left: 4.37em;
    }
    80%{
        top: 4.81em;
        left: 3.5em;
    }
    90%{
        top: 6.5em;
        left: 2.5em;
    }
    100%{
        top: 7.5em;
        left: 1.875em;
    }
}

.bar2 {
    display: none;

}

.imgBackground2 {
    position: fixed;
    width: 100%;
    height: 3em;
    top: 0;
    object-fit: cover;
    z-index: -2;
    opacity: 0.7;
}

.menu2 {
    position: fixed;
    color: var(--sublight-color);
    font-size: 12.5pt;
    align-items: center;
    background-color: var(--main-color);
    border: 0.16em solid var(--strong-color);
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    font-size: 0.75em;
    height: 2.1em;
    justify-content: center;
    line-height: 0.75em;
    width:8em;
    padding: 0 0;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#menu2-1 {
    top: 1.3em;
    left: 18em;
}

#menu2-2 {
    top: 1.3em;
    left: 9.5em;
}

#menu2-3 {
    top: 1.3em;
    left: 1em;
}

#name2 {
    position: fixed;
    top: 7.9em;
    right: .9em;
    width:12em;
    font-size: 10pt;
    align-items: center;
    background-color: var(--sublight-color);
    border: .15em solid var(--strong-color);
    border-radius: 0.3em;
    color: var(--dark-color);
    display: flex;
    font-weight: bold;
    height: 1.8em;
    justify-content: center;
    padding: 0 0.75em;
    text-align: center;
    text-decoration: none;
    z-index: -1;
}

.photo2 {
    position: fixed;
    right: 1.2em;
    top: 0.3em;
    width: 6em;
    height: 6em;
    border: 0.15em solid var(--strong-color);
    border-radius: 50%;
    object-fit: cover;
    background-image: url("./source/photo.jpg");
    background-color: var(--main-color);
    z-index: -2;
}

@media only screen and (max-width: 900px) {
    *{
        font-size: 12pt;
    }

    .name{
        font-size: 1.5em;
    }

    .menu2{
        font-size: 10pt;
    }

    #name2 {
        top: 7.9em;
        right: .8em;
        width:12em;
        font-size: 7.5pt;
    }

}

@media only screen and (max-width: 600px) {
    *{
        font-size: 11pt;
    }

    .name{
        font-size: 9pt;
        top: 9.4em;
        right: 1.2em;
        margin-right: 0;
        z-index: 2;
    }

    .menu2{
        font-size: 9pt;
    }

    #name2 {
        top: 7.9em;
        right: .8em;
        width:12em;
        font-size: 6.8pt;
    }
}

@media only screen and (max-width: 430px) {
    .menu2{
        font-size: 7pt;
    }
}

@media only screen and (max-width: 350px) {
    *{
        font-size: 10pt;
    }

    .photo{
        right: 0.8em;
    }

    .name{
        font-size: 9pt;
        top: 8.5em;
        right: 0.2em;
        margin-right: 0;
        z-index: 2;
    }

    .menu2{
        font-size: 6pt;
    }
    #name2 {
        top: 7.9em;
        right: .8em;
        width:12em;
        font-size: 6.2pt;
    }   

}
